---
layout: default
---

<h1>Congratulations!</h1>
<p>
Solve the following system of equations:
8y+x=16.5
6y+x=14

Round to the nearest hundreth. 
</p>

<h2>When you are done, use the model of the lock poster to gain the solution to the lock.  </h2>

