---
layout: default
---

<body>
    <SCRIPT>
function passWord() {
var testV = 1;
var pass1 = prompt('Please Enter Your Password',' ');
while (testV < 3) {
if (!pass1) 
history.go(-1);
if (pass1.toLowerCase() == "0.75") {
alert('You Got it Right!');
open('https://technotrumpet.gitlab.io/breakout-edu-password/1clue.html');
break;
} 
testV+=1;
var pass1 = 
prompt('Access Denied - Password Incorrect, Please Try Again.','Password');
}
if (pass1.toLowerCase()!="password" & testV ==3) 
history.go(-1);
return " ";
} 
</SCRIPT>
<CENTER>
<FORM>
<input type="button" value="Check your Answer?" onClick="passWord()">
</FORM>
</CENTER>
</body>
